.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: visible;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
