.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  
  position: absolute;
  z-index: 10;

  top: 120%;        
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltiptext.show {
  visibility: visible;
  opacity: 1;
}
