/* .tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
} */
